<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty application was built by <a target="_blank" href="http://github.com/zacjones93">Zac Jones</a> He's learning Ruby on Rails which is pretty cool!
  </p>
  <br/ >

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'zac.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Zac Jones</h2>
    <br />
    <p>
      Zac Jones is a web developer who is hoping to find work soon.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>